@charset "utf-8";
body{color:#FFF}
body a{color:#9d9d9d}
body a:hover{color:#FFF; background-color:#F00}
.loadMoreButton{color: #9d9d9d; font-size:14px; text-align:center; cursor:pointer; border-right:10px solid #999}
.loadMoreButton:hover{color:#FFF;}
.loadMoreButton p{border-top:1px solid; padding:5px 0}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color:#FFF; background: none; border-radius:0;border:none}
.nav-tabs>li>a:hover{color:#FFF; background: none}
.nav>li>a{padding:5px}
.nav-tabs>li>a{border:none; border-radius:0; margin-right:0}
.top_menu_link>li>a{padding:20px 14px 5px 5px;}
.navbar{margin-bottom:1px}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{padding:0}
.tu-event{height:275px; overflow-y: scroll}
.video-player-cc{height:195px;}
.video-player-cc video{width:100%; height:195px;}
.video-player{height:306px; border-bottom:1px solid #999;position: relative;}
.video-player video{width:100%; height:305px;}
.tu-last-frequency{font-size:12px;height:307px;margin-top:5px;}
audio{width:100%; height:203px;}
.audio-player{padding:25px 10px 0 10px; height:206px;}
.top-btm-map{width:100%; height:307px; background-color:#FFF}
#map_integ_threat{height:195px; background-color:#FFF}
#tu_photo li, #bu_photo li{/*display:none; */width:20%; float:left; list-style:none; border-bottom:none;}
.border-right-10px{border-right:10px solid #999}
.cctv_section_feed{height: 195px; overflow-y:scroll; border-bottom:32px solid #FFF;}
.cctv_section_feed li{font-size:12px; cursor:pointer; border-bottom:1px solid #CCC; padding:2px 3px 2px 12px}
.all-background-opacity{background: rgba(0,0,0,0.8);}
ul{margin:0;}
.headerText{ font-size:14px;}
p{padding: 10px 12px; margin: 0;}
/*p{padding: 5px 12px; margin: 0; border-top: 1px solid;}*/
p.eventText{padding-top:5px;}
/*.nav-tabs-cctvSection{border-top:10px solid; padding-left:12px;}*/
.nav-tabs-cctvSection{border-top:1px solid; padding-left:12px;}
.nav-tabs-cctvSection li:first-child a{padding-left:0}
.tu-event li{/*display:none;*/ font-size:12px; cursor:pointer; border-bottom:1px solid #CCC; padding:2px 3px 2px 12px}
li.activeClass::before {
    font-family: FontAwesome;
    content: "\f0a4";
    margin-right: 10px;
    font-size: 14px;
}
.activeClass{background-color: #900;}
p.loading{color: #FFF; padding:10px}
.tu-last-frequency span{color:#FF0}
#location_now span{color:#FF0; font-size:12px}
::-webkit-scrollbar{width: 10px;background-color: #999}
::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 25px rgba(5,0,0,0.5);
	-moz-box-shadow: inset 0 0 25px rgba(5,0,0,0.5);
}
.footers{text-align:center; color:#666; background: rgba(0,0,0,0.8); padding:7px 0; border-top:1px solid;}
hr{margin:6px 0px; padding:0}
hr.hr{margin:10px; width:50%}
.form-control{padding:5px; height:auto;}
#itmap_expand_mbl{display:none}
#frame{display:none; background-color:#FFF; width:30%; position:fixed; z-index:9999; padding:12px 0; height:94%; margin-bottom:1%; margin-top:6%; cursor:pointer;}
#frame-video{
	display:none; background-color:#FFF; width:30%; position:fixed; z-index:9999; margin-top:4%; cursor:move; overflow:hidden;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
-moz-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
}
#aframe-video{
	display:none; background-color:#FFF; width:30%; position:fixed; z-index:9999; margin-left:35%; margin-top:4%; cursor:move; overflow:hidden;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
-moz-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
}
#tUserEventInt{
	display:none; background-color:#FFF; color: #333; width:25%; /* height:300px; */ position:fixed; z-index:9999; margin-left:25%; margin-top:4%; cursor:move; overflow:hidden; padding:5px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
-moz-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
}
#tuEvContent span{color:#000; font-size:18px}
#bUserEventInt{
	display:none; background-color:#FFF; color: #333; width:25%; height:300px; position:fixed; z-index:9999; margin-left:40%; margin-top:4%; cursor:move; overflow:hidden; padding:5px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
-moz-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
}
#buEvContent span{color:#000; font-size:18px}
#mainImage{width:94%; height:90%; margin-left:auto; margin-right:auto;}
#location_now{width:94%; height:10%; padding:5px; background-color:#000; margin-left:auto; margin-right:auto; font-size:12px}
.select{float: right}
.select select{background-color: #666; color: #FFF; font-size:14px; text-transform:capitalize; padding:4px 0; margin:5px 0; border-radius:5px 0 0 5px;}
.btn-default{background-color: #666; color: #0FF; font-size:14px; border-radius:5px;}
.btn-group-sm>.btn, .btn-sm{margin:5px; padding:2px 5px;}
.btn-default:hover, .btn-default:active{color:#FFF; background: none}
li.desktop_logo{display: inline-block; padding:5px 0 0 10px}
li.desktop_logo img{width:200px;}
a.mobile_logo{display:none}
.top_menu_link li.desktop_logo a{padding:0; margin:0}
li.resTeamNameDesktop{display: inline}
div#resTeamNameMobile{display: none}
span.consoleName{font-size: 30px}

.popupAgentClickable {
   width:30%;
   height:300px;
   position:absolute;
   float:left;
   z-index:6000;
   top:450px;
}

.popupAgentLiveClickable {
  width:99%;
  height:300px;
  position:absolute;
  float:left;
  z-index:6000;
  top:5px;
}

.popupTransportClickable {
   width:30%;
   height:300px;
   position:absolute;
   float:left;
   z-index:6000;
   top:110px;
}

/* .popupLiveTransportClickable {
  width:41%;
  height:300px;
  position:absolute;
  float:left;
  z-index:6000;
  top:100px;
} */
.popupLiveTransportClickable {
  width:100%;
  height:300px;
  position:absolute;
  float:left;
  z-index:6000;
  top:0;
  left:0;
}



@media screen and (max-width: 1387px) {
  .popupAgentClickable {
    top: 0px;
  }
  .popupAgentLiveClickable {
    top: 0px;
  }
  .popupTransportClickable {
     top:300px;
     width: 100%;
  }

  /* .popupLiveTransportClickable {
     top:300px;
     width: 100%;
  } */
}

@media screen and (max-width: 1366px) {
    .popupTransportClickable {
      top: 100px;
      width: 30%;
    }

    /* .popupLiveTransportClickable {
      top: 135px;
      width: 41%;
    } */

}

@media screen and (max-width: 1199px) {
    .popupAgentClickable {
       top:1910px;
       width: 100%;
    }

    .popupAgentLiveClickable {
      top:1320px;
      width: 100%;
    }

    .popupTransportClickable {
         top:300px;
         width: 100%;
    }

    .popupLiveTransportClickable {
         top: 150px;
         width: 100%;
    }
}

@media screen and (max-width: 1024px) {
  #tUserEventInt {
     width: 40%;
     left: -7%;
     top: 2%;
  }

  #bUserEventInt {
    width: 40%;
    left: -7%;
    top: 2%;
  }
}

@media screen and (max-width: 768px) {
  #tUserEventInt {
     width: 40%;
     left: -7%;
     top: 2%;
  }
    #bUserEventInt {
      width: 40%;
      left: -7%;
      top: 2%;
    }
}

@media screen and (max-width: 600px) {
  #tUserEventInt {
     width: 66%;
     left: -7%;
     top: 2%;
  }

  #bUserEventInt {
    width: 66%;
    left: -7%;
    top: 2%;
  }

}


/********AUDIO CHAT POPUP**********/
#audioMain{
	display:none; background-color:#FFF; color: #333; width:25%; height:300px; position:fixed; z-index:9999; margin-left:40%; margin-top:4%; cursor:move; overflow:hidden; padding:5px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
-moz-box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
box-shadow: 0px 0px 15px 5px rgba(38,152,227,1);
}
#audioContent span {color:#000; font-size:18px}
/********AUDIO CHAT POPUP**********/




/*video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}*/
/*.remote-user-res{ display:none;}
.remote-user{ display:block}*/
/*.loadMoreEvent {
  width: 100%;
  margin: 2px 0;
  padding: 5px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #A9A9A9,  #000);
  background: -ms-linear-gradient(top,  #A9A9A9,  #000);
  background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#000));
  background: -moz-linear-gradient(top,  #A9A9A9,  #000);
  border: solid 1px #6D6D6D;
  position:relative;
  z-index:999;
  cursor:pointer;
  color:#CCC;
  text-align:center;
}
.loadMoreEvent:hover{color:#FFF}*/
